openai-whisper==20231117
torch
numpy
PyAudio==0.2.14
fastapi==0.108.0
uvicorn[standard]==0.30.1
websockets==12.0
websocket-client==1.8.0
python-multipart==0.0.9
httpx==0.27.0
pytest==7.3.2
pytest-asyncio==0.23.7
pytest-cov==4.1.0
pytest-timeout==2.3.1
pytest-benchmark==4.0.0
black==23.3.0
pylint==3.0.3
pylint-fail-under==0.3.0
jiwer==4.0.0
pandas==2.2.2
setuptools<70
